@import 'tailwindcss';

@theme {
  --color-primary: oklch(59.525% 0.08243 119.31);
  --color-primary-50: oklch(90.936% 0.02852 117.85);
  --color-primary-100: oklch(88.29% 0.03544 117.69);
  --color-primary-200: oklch(83.241% 0.0507 117.42);
  --color-primary-300: oklch(78.362% 0.06748 118.26);
  --color-primary-400: oklch(73.15% 0.08284 119.18);
  --color-primary-500: oklch(67.761% 0.09466 119.04);
  --color-primary-600: oklch(59.525% 0.08243 119.31);
  --color-primary-700: oklch(47.737% 0.06326 118.74);
  --color-primary-800: oklch(35.048% 0.04426 118.96);
  --color-primary-900: oklch(21.486% 0.0227 119.76);
  --color-primary-950: oklch(13.646% 0.01068 117.94);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}



@layer components {
  .btn {
    @apply rounded-md px-3.5 py-2.5 bg-primary-500 hover:bg-primary-600 text-white inline-block font-medium cursor-pointer;
  }

  .btn.sm {
    @apply px-2.5 py-1.5
  }

  .btn.alt {
    @apply bg-gray-200 hover:bg-gray-100 text-gray-600
  }

}