<div id="<%= dom_id food_restriction %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food_restriction.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= food_restriction.kind %>
  </p>
</div>
