<% content_for :title, t('helpers.titles.editing', model: @food_restriction.human_class_name) %>

<div class="w-full">

  <h1 class="font-bold text-4xl text-primary-600">
    <%= t('helpers.titles.editing', model: @food_restriction.human_class_name) %>
  </h1>

  <%= render "form", food_restriction: @food_restriction %>

  <%= link_to( 
        t('helpers.anchors.back', model: @food_restriction.human_class_name(count: 2)),
        food_restrictions_path,
        class: "ml-2 btn alt"
      ) %>
</div>
