<div id="participant-scanner" data-controller="scanner" data-scanner-focus-box-value='{"width": 200, "height": 200}'>
  <div class="canvas">
    <h1>Koder / Worker thread</h1>
    <canvas data-scanner-target="container" hidden></canvas>
  </div>
  <div class="scanBtn">
    <a data-scanner-target="startBtn" class="myHref" data-action="scanner#startVideo">start scan</a>
    <a data-scanner-target="stopBtn" class="myHref" data-action="scanner#stopVideo">stop scan</a>
  </div>
  <div class="barcode" data-scanner-target="result"></div>
  <div style="margin: 10px auto;text-align: center" data-scanner-target="time"></div>
</div>
