<% content_for :title, t('.title') %>

<h1><%= t('.title') %></h1>

<%= render "form", lunch: @lunch, edit_user: false do %>
  <%= link_to t('.discard'), lunches_path, class: 'btn variant-outlined sz-md' %>
<% end %>
