<div id="<%= dom_id food_provider %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food_provider.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Default:</strong>
    <%= food_provider.default %>
  </p>
</div>
