<% content_for :title, "Editing food provider" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing food provider</h1>

  <%= render "form", food_provider: @food_provider %>

  <%= link_to "Show this food provider", @food_provider, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to food providers", food_providers_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
